body {
	background-color: #DFF1FF;
}

.divclear {
	clear: both;
}

#sipedang_loadingbox {
	position: fixed;
	top: 75px;
	left: 50px;
	padding: 10px;
	width: 300px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	background-color: #fff;
	z-index: 1044;
	display: none;
}
#sipedang_imglogo {
	width: 32px;
}
#sipedang_body {
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	margin: 50px auto 20px;
}
#sipedang_mainbody {
	min-height: 500px;
}
#sipedang_footer {
	background-color: #F5F5F5;
	min-height: 100px;
}

#sipedang_bottom {
	padding: 10px;
	background-color: #686868;
	color: #fff;
	text-align: center;
}
#sipedang_ctr_formreservasi {
	display:none;
}
.pesan_sekarang
{
	display:none;
}

/* ------------- TAMU ----------------- */
.stepsudah {
	text-decoration: none;
	color: lightgreen;
	text-align:center;
	padding: 25px;
}

.stepsudah:hover {
	text-decoration: none;
	cursor: default;
}

.steplagi{
	background-color: #E3E3E3; 
	color:green; 
	text-align:center;
	padding: 25px;
	margin-right: 15px;
}

.steplagi:hover{
	text-decoration: none;
	cursor: default;
}

.stepbelum{
	color:gainsboro;
	text-align:center;
	padding: 25px;
	cursor: default;
}

.stepbelum:hover{
	text-decoration: none;
	cursor: default;
}


/* ------------- ADMIN ----------------- */
.spd-meta {
	font-size: 0.8em;
}